@import "style/variaveis";


.div__contato__titulo{
    font-size: 32px;
    font-weight: 600;
    margin: 0;
}

.div__contato__tituloh4{
    color: $grey;
    margin: 10px 0;
    font-size: 26px;
    font-weight: 700;
}
.div__contato__titulop{
    color: $grey;
    margin: 7px 0;
    font-size: 20px;
}