

.conteiner__rodape__inferior{
    display: flex;
    justify-content: space-between;
    height: 62px;
    width: auto;
    align-items: center;
    margin-left: 75px;
    margin-right: 75px;
}

.cabecalho__link{
    margin: 10px;
    color: black;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}

.cabecalho__midia{
    font-size: 14px;
    font-weight: 400;
}