.Botao{
    background-position: center;
    background-color: #141a87;
    border-radius: 30px;
    color: #FFFFFF;
    border: none;
    height: 47px;
    width: 168px;
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 0 10px;
}