@import "style/variaveis";

.Conteinern1{
    margin: 0;
}

.Conteinern2{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.Conteinern3{
    display: flex;
    justify-content: space-around;
    height: 275px;
    width: 60%;
}

.Carta{
    margin: 10px;
    width: 30%;
    height: fit-content;

}

.CartaFormulario{
    margin: 10px;
}

.Foto{
    width: 90%;
    height: 130px;
    margin: 10px;
}

.Titulo{
    font-size: 18px;
    font-weight: 600;
}

.Publicidade{
    width: 366px;
    height: 209px;
    background-color: red;
}

.AchadosEPerdidos{
    position: relative;
    top: -175px;
    left: 70px;
    margin: 0;
}